* {
  margin: 0;
  padding: 0;
}
body {
  background: #f6f6f6;
}
#container {
  width: 400px;
  height: 300px;
}
#titbg {
  width: 500px;
  height: 130px;
  background: #9c6;
  position: fixed;
  margin: 0;
}
#urlcode {
  width: 160px;
  height: 160px;
  position: relative;
  margin: 0;
  padding: 5px;
  float: left;
  top: 15px;
  left: 15px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #9c6;
}
