@import './utils.styl'

*
	margin 0
	padding 0
	
body 
	background #f6f6f6
	
#container
	size 400px 300px
	
#titbg
	size 500px 130px
	background #99CC66
	fixed 0
	
#urlcode
	size 160px
	relative 0
	padding 5px
	left 15px
	border-radius 5px
	background rgba(255, 255, 255, 1)
	border 1px solid #99CC66