size()
	width arguments[0]
	height arguments[1] ? arguments[1] : arguments[0]
	
left()
	float left
	top arguments[0]
	left arguments[1] ? arguments[1] : arguments[0]
right()
	float right
	top arguments[0]
	right arguments[1] ? arguments[1] : arguments[0]
	
absolute()
	position absolute
	margin arguments
relative()
	position relative
	margin arguments
fixed()
	position fixed
	margin arguments
	